

/* Timeline Title Styling */
.timeline-title h2 {
  text-align: center;        /* Center the text horizontally */
  font-size: 60px;           /* Increase the font size */
  font-weight: 600;          /* Make the font weight bold */
  color: #16475a;            /* Use a text color that matches the theme */
  margin-top: 50px;          /* Add some space above the title */
  margin-bottom: 30px;       /* Add some space below the title */
}

.timeline {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.timeline li {
  position: relative;
  list-style-type: none;
  width: 6px;
  background-color: #2c395e;
  margin: 0 auto;
  padding-top: 50px;
}

.timeline li::after {
  background: #2c395e;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.timeline li .event {
  position: relative;
  width: 400px;
  padding: 15px;
  border-radius: 5px;
  bottom: 0;
  background: #c3e3f7;   /* text box BG-Color*/ 
}

.timeline li:nth-child(odd) .event {
  left: 45px;
}

.timeline li:nth-child(even) .event {
  left: -445px;
}

.event p {
  color: #2c395e;
}

time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  color: #2c395e;
}

.timeline li .event {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline li:nth-child(odd) .event {
  transform: translate3d(200px, 0, 0);
}

.timeline li:nth-child(even) .event {
  transform: translate3d(-200px, 0, 0);
}

.timeline li.show .event {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .timeline li .event {
    width: 250px;
  }
  .timeline li:nth-child(even) .event {
    left: -289px;
    /*250+45-6*/
  }
}
  