/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: black;
  line-height: 1.6;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

body{
    background: #B0DEF0;
background: linear-gradient(rgba(176, 222, 240, 1) 2%, rgba(49, 135, 145, 1) 23%, rgb(1, 98, 127) 58%, rgb(1, 86, 120) 72%, rgb(0, 36, 82) 92%);
}

/* Container Padding */
.container {
  padding: 0 2rem; /* Consistent gap on both sides */
}

h1{
  font-size: 4rem;
  font-weight: 600;
  color:#07314a;
}

h2{
  font-size: 3rem;
  font-weight: 600;
  color: #b9e8fe;
}

h3{
  font-size: 2.5rem;
  color: #b9e8fe;
}

h4{
  font-size: 1.2rem;
}

p{
  font-size: 1.2rem;
}

@media (max-width: 850px) {
  h1{
    font-size: 3rem;
  }

  h2{
    font-size: 2.5rem;
  }

  h3{
    font-size: 2rem;
  }

  h4{
    font-size: 1rem;
  }

  p{
    font-size: 0.9rem;
  }
}
@media (max-width: 550px) {
  h1{
    font-size: 2.5rem;
  }

  h2{
    font-size: 2rem;
  }

  h3{
    font-size: 1.5rem;
  }

  h4{
    font-size: 0.9rem;
  }

  p{
    font-size: 0.8rem;
  }
}

/* Sticky Navigation */
.main-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0,0,0,0.7);
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.1);
}

.main-nav .logo img {
  width: 10rem;
  height: auto;
}

.main-nav nav ul {
  display: flex;
  list-style: none;
}

.main-nav nav ul li {
  margin-left: 2rem;
}

.main-nav nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

.main-nav nav ul li a:hover {
  color: grey;
}

.contact-btn {
  border: 2px solid white;
  padding: 0.5rem 1.5rem;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background-color: white;
  color: black;
}

/* Hamburger Menu (Default Hidden) */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1001; /* Ensure it stays above other elements */
}

.hamburger span {
  background-color: white;
  height: 3px;
  width: 25px;
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}



.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0; /* Hide middle line */
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.hamburger span {
  background-color: white;
  height: 3px;
  width: 25px;
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-links-mobile {
  display: none; /* Hide by default */
}

.nav-links-mobile li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

/* When Active (Expanded) */
.nav-links-mobile.active {
  display: none; 
}

.nav-links-mobile li a:hover {
  color: grey;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between; /* Content on the left, icons on the right */
  align-items: center;
  padding: 6rem 2rem;
  height: 90vh; /* Full viewport height */
  background: #B0DEF0;
  background: linear-gradient(rgba(176, 222, 240, 1) 2%, rgba(168, 220, 239, 1) 50%, rgba(193, 219, 226, 1) 100%, rgba(119, 211, 234, 1) 100%);
}

.hero-contact{
  padding: 2rem 2rem;
  padding-left: 4rem;
  height: auto;
  background: #B0DEF0;
  background: linear-gradient(rgba(176, 222, 240, 1) 2%, rgba(168, 220, 239, 1) 50%, rgba(193, 219, 226, 1) 100%, rgba(119, 211, 234, 1) 100%);
}
.hero-contact h1{
  color: #07314a;
  margin-bottom: 1rem;
}
.hero-contact p{
  margin-bottom: 2rem;
}

.hero-content {
  text-align: left;
  max-width: 70%;
}

.hero-content-contact{
  text-align: left;
}

.hero h1 {
  color: #07314a;
  margin-bottom: 1rem;
}


.contact-us-btn {
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 0.8rem 2rem;
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.contact-us-btn:hover {
  color: white;
  background-color: black;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.contact-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1100px) {
  .contact-grid {
    grid-template-columns: 1fr; /* Single column on smaller screens */
  }
  .hero-contact{
    text-align: center;
  }
  .hero-content-contact {
    text-align: center;
  }
}

/* Social Wrapper (Vertical Layout) */
.social-wrapper {
  position: absolute;
  top: 52%;
  right: 2rem;
  transform: translateY(-44%);
  display: flex;
  flex-direction: column; /* Vertical layout */
  align-items: center;
  gap: 1rem;

}

.divider {
  width: 2px; /* Vertical divider */
  height: 30vh; /* Divider height */
  background-color: white;
}

/* Social Icons Styling */
.social-icons {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Space between icons */
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-icons a img {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(1); /* White icons */
}

.social-icons a:hover {
  transform: scale(1.1); /* Expand slightly on hover */
}

.social-icons a:hover img {
  filter: invert(0); /* Black icons on hover */
}

/* Contact Form */
.contact-form {
  text-align: left;
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin: auto;
  padding: 2rem;
  width: 80%;
  max-width: 800px;
  background: #2a2a2a;
  border: 1px solid #444;
  border-radius: 8px;
  color: white;
}

.contact-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #dcdcdc;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #555;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #1a1a1a;
  color: white;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #aaa;
}

.contact-form .submit-btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: white;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.contact-form .submit-btn:hover {
  background-color: grey;
  color: white;
}

/* Footer */
.footer {
  background-color: #222;
  color: white;
  padding: 2rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-content div {
  margin: 1rem;
}

.footer-logo img {
  width: 6rem;
  height: auto;
  margin-bottom: 1rem;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li {
  margin-bottom: 0.5rem;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: grey;
}

.footer-social img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  transition: transform 0.3s ease;
}

.footer-social img:hover {
  transform: scale(1.1);
}

.cta-button {
    display: inline-block;
    background: #50cdff;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cta-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(255, 158, 193, 0.2);
}

/* Responsive Adjustments */
  @media (max-width: 865px) {
    .social-wrapper {
      position: absolute;
      top: 50%;
      right: 2rem;
      transform: translateY(600%);
      display: flex;
      flex-direction: row; /* Horizontal layout */
      align-items: center;
      max-width: 100%; /* Ensure full width */
      padding-left: 3rem;
    }
  
    .divider {
      width: 250px; /* Horizontal divider */
      height: 2px; /* Divider height */
      background-color: #333; /* Darker color for the divider */
      margin: 1rem 1rem; /* Spacing on both sides */
    }
  
    .social-icons {
      display: flex;
      flex-direction: row; /* Keep icons in a row */
      justify-content: center; /* Center horizontally */
      align-items: center; /* Align icons vertically */
    }

    .hero-content {
      text-align: center;
      padding:0;
      margin: 0;
      justify-content: center;
      max-width: 100%;
      margin-bottom: 5rem;
    }

    .hamburger {
      display: flex; /* Display hamburger on smaller screens */
    }
    
    .main-nav nav ul {
      display: none;
    }

    .nav-links {
      display: none; /* Hide desktop menu */
    }

    /* Mobile Navigation Menu (Default Hidden) */
    .nav-links-mobile {
      position: fixed;
      z-index: 1005;
      top: 90px;
      left: -100vw;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 2rem;
      list-style: none;
      flex-direction: column;
      text-align: center;
      gap: 1rem;
      display: flex; /* Show mobile menu */
      transition: all 0.3s ease; /* Smooth expand and collapse */
    }

    /* When Active (Expanded) */
    .nav-links-mobile.active {
      display: flex; /* Show mobile menu */
      left: 0 !important;
    }

  }
  

@media (max-width: 480px) {
  .social-icons a {
    width: 2.5rem;
    height: 2.5rem;
  }

  .social-icons a img {
    width: 1rem;
    height: 1rem;
  }
}

button{
  border: none;

}

#email{
  color: white;
  margin-bottom: 0;
  margin: 0;
  padding: 0;
}
#email-1{
  color: white;
  margin-bottom: 0;
  margin: 0;
  padding: 0;
}
